In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula as smf

In [ ]:
pip install statsmodels

In [ ]:
pip install openpyxl

In [266]:
xls = pd.ExcelFile(r'Data3.xlsx')
df_returns = pd.read_excel(xls, 'returns', index_col=0)
df_returns.columns = pd.to_datetime(df_returns.columns, format = '%Y%m').to_period('M')
df_EPS = pd.read_excel(xls, 'EPS', index_col=0)
df_EPS.columns = pd.to_datetime(df_EPS.columns, format = '%Y%m').to_period('Q-APR')
df_consensus = pd.read_excel(xls, 'consensus', index_col= 0)
df_consensus.columns = pd.to_datetime(df_consensus.columns, format='%Y%m').to_period('Q-APR')

In [459]:
df_returns_quarterly = df_returns.T.groupby(pd.PeriodIndex(df_returns.columns, freq='Q-APR')).mean()
df_returns_quarterly.loc['2020Q2':'2021Q1'].T

          2020Q1    2020Q2    2020Q3    2020Q4    2021Q1
Ticker
AA     -0.046768 -0.015843 -0.105209 -0.079520  0.169019
AAON    0.008358 -0.012940  0.026671 -0.028893  0.078052
AAPL    0.027583  0.055739  0.076770 -0.009687  0.132515
ABT     0.033733 -0.012159  0.015315  0.026708  0.032958
ADTN   -0.124449 -0.064793  0.014796  0.063805  0.071036
...          ...       ...       ...       ...       ...
XOM    -0.018421 -0.026506 -0.021624 -0.065969 -0.025918
XRX    -0.003638  0.025919  0.021868 -0.177512 -0.021413
YUM     0.027522 -0.030127  0.014881 -0.041123  0.019920
ZBRA    0.013533  0.043796  0.002866  0.001261  0.071400
ZION   -0.024441  0.030570 -0.015597 -0.088077  0.013738

[362 rows x 5 columns]

In [405]:
#EPS - consensus for each reporting month
delta_EPS = df_EPS - df_consensus
delta_EPS_2016_2019 = df_EPS.loc[:, '2016Q1':'2019Q4'] - df_consensus.loc[:, '2016Q1':'2019Q4']
#Standard Deviation of (EPS - Consensus)
stdev_EPS_estimates = np.array((delta_EPS_2016_2019).std(axis=1))
#SUE of all Stocks
df_SUE = delta_EPS.apply(lambda col : col / stdev_EPS_estimates, axis = 0)
df_SUE

,2000Q4,2001Q1,2001Q2,2001Q3,2001Q4,2002Q1,2002Q2,2002Q3,2002Q4,2003Q1,...,2023Q1,2023Q2,2023Q3,2023Q4,2024Q1,2024Q2,2024Q3,2024Q4,2025Q1,2025Q2
Ticker,,,,,,,,,,,,,,,,,,,,,
AA,0.408779,-0.966204,-1.858084,-0.222970,0.297294,0.594587,-0.520264,-0.966204,-0.445940,-0.594587,...,-1.412144,-7.135044,-0.743234,-3.270229,-1.412144,-2.452671,1.189174,-2.972935,0.891881,1.709438
AAON,0.261617,0.048114,0.066156,-0.039092,0.135319,0.207490,-0.198468,0.048114,-0.147348,-0.132312,...,-2.104968,1.503549,3.106332,2.607153,3.509283,2.736459,1.202839,0.000000,3.608517,1.804258
AAPL,-0.051337,-0.048892,-0.112451,-0.073338,0.048892,0.073338,0.078227,0.048892,0.048892,0.039114,...,0.977839,0.733379,-2.200137,2.200137,1.711218,1.711218,2.200137,0.488919,1.711218,0.977839
ABT,0.000000,0.000000,0.000000,0.000000,-0.665580,0.000000,0.000000,0.000000,0.000000,0.000000,...,21.298560,14.642760,7.986960,2.662320,1.996740,2.662320,0.000000,1.331160,1.996740,0.665580
ADTN,0.499283,0.312052,0.374463,0.249642,-0.374463,-0.249642,0.062410,0.000000,0.062410,-0.062410,...,0.998567,-0.748925,-0.624104,-2.995701,0.000000,-0.873746,-12.232445,1.123388,-1.872313,-0.124821
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XOM,0.183276,0.523645,0.366552,0.628375,-1.387661,0.104729,-0.261823,0.000000,-0.418916,-0.418916,...,5.917194,4.922268,0.523645,1.099656,-1.780395,0.366552,1.937488,-0.104729,-1.204385,-0.576010
XRX,1.824465,-4.170205,-12.076219,-8.861686,4.170205,0.347517,-5.820911,5.473394,-1.824465,2.258861,...,0.000000,-1.911344,3.214533,2.693257,1.216310,1.129431,-0.868793,-2.519499,-1.216310,-2.519499
YUM,0.116543,0.058272,0.131111,0.014568,-0.072840,0.014568,0.014568,0.058272,0.058272,0.087407,...,-0.291358,-0.407902,0.349630,-0.407902,0.990618,0.990618,-0.932346,-0.407902,0.058272,-0.291358
ZBRA,-0.218762,0.038775,0.012732,-0.617510,0.083338,-0.328143,0.115747,-0.045141,-0.019098,0.032409,...,2.199193,-2.488560,0.868102,0.173620,-0.173620,0.289367,0.289367,2.314940,2.199193,1.446837
ZION,-0.277056,0.138528,0.138528,0.000000,0.692641,0.000000,-0.138528,-0.692641,-0.415585,-0.277056,...,-0.831169,-2.632036,2.354980,-3.740262,-2.493508,0.138528,3.878790,-0.415585,2.770564,2.770564

In [490]:
''' Selection Criteria for Stocks:
        1. Rank all stocks based on SUE
        2. Select top and bottom N = 30 stocks
        3. Sample K = 10 randomly from each criteria
        4. Repeat for every announcement period
 '''



def SUE_construction(df_SUE = df_SUE, N = 30, K= 10, Top_K = True,
                      df_returns = df_returns, seed = 2007,
                      start = '2020-03', end = '2022-02'):

    df_returns = df_returns.loc[:, start:end]
    df_returns_quarterly = df_returns.T.groupby(pd.PeriodIndex(df_returns.columns, freq='Q')).mean()
    df_returns_quarterly = df_returns_quarterly.loc[start:end]
    df_returns_quarterly = df_returns_quarterly.T

    pr = pd.period_range(pd.Period(start, freq='Q'), pd.Period(end, freq='Q'), freq='Q-APR')
    df_SUE = df_SUE[pr]

    def top_SUE(df_SUE = df_SUE, N = N, K = K, seed = seed, df_returns = df_returns):

        good_news_stocks = {} #EPS of stocks selected that are 'good news stocks'
        tickers = {}        
        np.random.seed(seed)
        for i in range(0, len(df_SUE.columns)):
            #Samples from N stocks to get K stocks per period
            good_news_stocks[i] = df_SUE.iloc[:,i].nlargest(N).sample(K)

            #Collects names of stocks in our portfolio
            tickers[i] = list(good_news_stocks[i].index)

        #DataFrame contains portfolio at each period
        tickers = pd.DataFrame(tickers)
        tickers.columns = df_SUE.columns

        good_news_stocks = pd.DataFrame(good_news_stocks)
        return tickers, good_news_stocks

    def bottom_SUE(df_SUE = df_SUE, N = N, K = K, seed = seed, df_returns = df_returns):
    
        bad_news_stocks = {} #EPS of stocks selected that are 'good news stocks'
        tickers = {}        
        np.random.seed(seed)
        for i in range(0, len(df_SUE.columns)):
            #Samples from N stocks to get K stocks per period
            bad_news_stocks[i] = df_SUE.iloc[:,i].nsmallest(N).sample(K)

            #Collects names of stocks in our portfolio
            tickers[i] = list(bad_news_stocks[i].index)

        #DataFrame contains portfolio at each period
        tickers = pd.DataFrame(tickers)
        tickers.columns = df_SUE.columns

        bad_news_stocks = pd.DataFrame(bad_news_stocks)
        return tickers, bad_news_stocks
    
    if Top_K == True:
        tickers, stocks = top_SUE()

    if Top_K == False:
        tickers, stocks = bottom_SUE()
    
    #Calculate Average Returns of Portfolios
    #Apply Boolean mask then take arithmetic mean
    portfolio_returns_mask = ~stocks.isna()
    portfolio_returns_mask.columns = df_returns_quarterly.columns

    returns_per_individual_stock = df_returns_quarterly[portfolio_returns_mask]
    portfolio_returns = pd.Series(returns_per_individual_stock.mean(axis='rows'))

    return tickers, returns_per_individual_stock, portfolio_returns, stocks

## Simulating SUE Strategy with N = 5, 20, 100, 1000 Trials

In [466]:
#Sample Runs (Pseudo Random)
Simulations = 5
seed_array = np.arange(0, Simulations)

#Annualised returns function
def annualised_returns(r, periods = 1):
    compounded_growth = (1 + r).prod()
    return compounded_growth ** (periods / 4) - 1

#Running the Test
Good_portfolio_rets = []
Bad_portfolio_rets = []
Long_Short_portfolio_rets = []

for i in range(0, Simulations):
    #Pseudo-Random Run
    seed = seed_array[i]
    Good_portfolio_rets.append(annualised_returns(SUE_construction(seed = seed)[2]))
    Bad_portfolio_rets.append(annualised_returns(SUE_construction(Top_K = False, seed= seed)[2]))
    Long_Short_portfolio_rets.append(annualised_returns(Good_portfolio_rets[i] - Bad_portfolio_rets[i]))

Performance_df = pd.DataFrame({'Good' : np.mean(Good_portfolio_rets).round(4) * 100,
                              'Bad' : np.mean(Bad_portfolio_rets).round(4) * 100,
                              'Long/Short' : np.mean(Long_Short_portfolio_rets).round(4) * 100}
                              , index = [f'Average Annualised Returns after {Simulations} runs'])

In [467]:
#5 Runs
Performance_df

                                         Good   Bad  Long/Short
Average Annualised Returns after 5 runs  2.77  0.03        0.68

In [411]:
#20 Runs
Performance_df

                                          Good   Bad  Long/Short
Average Annualised Returns after 20 runs  3.07 -0.42        0.86

In [464]:
#100 Runs
Performance_df

                                           Good   Bad  Long/Short
Average Annualised Returns after 100 runs  3.12 -0.37        0.86

In [462]:
#1000 Runs
Performance_df

                                            Good   Bad  Long/Short
Average Annualised Returns after 1000 runs   3.1 -0.24        0.82

# Regression

In [546]:
''' 
Regressing on CAPM 

'''
import statsmodels.formula.api as smf


#Fama French Datasets Monthly Returns are rows 5-1186, 
df_Factors = pd.read_excel(xls, 'Fama-French', index_col = 0)
df_Factors.index = pd.to_datetime(df_Factors.index, format='%Y%m').to_period('M')

#Consider only 2020-2021 Time Period
df_FF2 = df_Factors.loc[test_range]
df_FF2 = df_FF2.rename({'Mkt-RF' : 'Market_Risk'}, axis = 'columns')

#Create Good/Bad and Long/Short Portfolio (Seed = 2007)
good_tickers = SUE_construction()[0]
bad_tickers = SUE_construction(Top_K=False)[0]

In [561]:
#Getting monthly returns of each portfolio
test_range = pd.date_range('2020-12', '2022-03', freq = 'ME').to_period('M')
#Good Portfolio
good_returns_monthly = df_returns.loc[:, test_range].loc[good_tickers.iloc[:,0]].mean()
#Bad Portfolio
bad_returns_monthly = df_returns.loc[:, test_range].loc[bad_tickers.iloc[:,0]].mean()
#Long-Short Portfolio returns
LS_returns_monthly = good_returns_monthly - bad_returns_monthly
portfolio_returns = pd.DataFrame({'Positive_SUE' : good_returns_monthly, 'Negative_SUE' : bad_returns_monthly, 'LongShort_SUE' : LS_returns_monthly},
                                 index = bad_returns_monthly.index)

#Portfolio of Returns into Excess Returns
df_portfolio_excess = portfolio_returns.apply(lambda col : col - df_FF2['Rf'])
df_portfolio_excess.round(4)

         Positive_SUE  Negative_SUE  LongShort_SUE
2020-12        0.0107        0.0874        -0.0768
2021-01       -0.0406        0.0263        -0.0671
2021-02       -0.0206        0.1595        -0.1800
2021-03        0.0785        0.0626         0.0160
2021-04        0.0275        0.0666        -0.0390
2021-05        0.0159        0.0395        -0.0237
2021-06        0.0064       -0.0592         0.0656
2021-07        0.0315       -0.0002         0.0317
2021-08        0.0034        0.0388        -0.0353
2021-09       -0.0594        0.0134        -0.0728
2021-10        0.0492        0.0298         0.0194
2021-11       -0.0407       -0.0272        -0.0135
2021-12        0.0754        0.0472         0.0281
2022-01       -0.0332        0.0192        -0.0524
2022-02        0.0154        0.0105         0.0050

In [ ]:
df_FF2

          MktRf     SMB     HML      Rf
2020-12  0.0463  0.0479 -0.0134  0.0001
2021-01 -0.0003  0.0750  0.0285  0.0001
2021-02  0.0278  0.0207  0.0710  0.0000
2021-03  0.0308 -0.0228  0.0727  0.0000
2021-04  0.0493 -0.0320 -0.0095  0.0000
2021-05  0.0029 -0.0027  0.0713  0.0000
2021-06  0.0275  0.0160 -0.0775  0.0000
2021-07  0.0127 -0.0394 -0.0181  0.0000
2021-08  0.0291 -0.0046 -0.0010  0.0000
2021-09 -0.0437  0.0067  0.0510  0.0000
2021-10  0.0665 -0.0237 -0.0045  0.0000
2021-11 -0.0155 -0.0132 -0.0041  0.0000
2021-12  0.0310 -0.0164  0.0322  0.0001
2022-01 -0.0625 -0.0596  0.1280  0.0000
2022-02 -0.0229  0.0219  0.0310  0.0000

# CAPM and FF-Model Regression

In [ ]:

''' 
Apply regression to each column
    - SMF doesn't like spaces in columns
    - Function needs to take pd.Series object of column names
    - Lambda + Apply => pass through arguements as below
    - Output DF index name : column 'Portfolio' can be set as index using .set_index()

'''

def regression_CAPM(portfolio_col, factors, df = df_portfolio_excess, factor_df = df_FF2):                               
    
    ''' 
    Regresses columns in portfolio_col against the factors passed 
    
    '''
    #Slice portfolio and factor values for desired time frame
    returns = df[f'{portfolio_col}']
    factor_values = factor_df[f'{factors}']
    regression_df = pd.concat([returns, factor_values], axis='columns')
    #Create Regression Model

    model = smf.ols(f'{portfolio_col} ~ {factors}', data = regression_df)
    results = model.fit(use_T = True)
    
    return pd.Series(
            {
        'Portfolio' : f'{portfolio_col}',
        'Intercept (Alpha)' : results.params['Intercept'].round(4) * 100,
        'Intercept (T-Value)' : results.tvalues['Intercept'].round(3),
        'Market Risk' : results.params[f'{factors}'].round(4),
         'Market Risk (T-Value)' : results.tvalues[f'{factors}'].round(3)
            },
        )

column_names = pd.Series(df_portfolio_excess.columns)
CAPM_Regression_Table = column_names.apply(lambda col : regression_CAPM(col, factors = 'MktRf')).set_index('Portfolio')
CAPM_Regression_Table

,Intercept (Alpha),Intercept (T-Value),Market Risk,Market Risk (T-Value)
Portfolio,,,,
Positive_SUE,-0.11,-0.123,0.7583,3.112
Negative_SUE,2.83,2.117,0.5030,1.377
LongShort_SUE,-2.94,-1.742,0.2551,0.553

In [579]:

def regression_FF(portfolio_col, factors, df = df_portfolio_excess, factor_df = df_FF2):
    
    ''' 
    Regresses columns in portfolio_col against the factors passed 
    
    '''
    returns = df[f'{portfolio_col}']
    factor_values = factor_df[factors]
    regression_df = pd.concat([returns, factor_values], axis='columns')

    #Create Regression Model
    model = smf.ols(f'{portfolio_col} ~ {factors[0]} + {factors[1]} + {factors[2]}', data = regression_df)
    results = model.fit(use_T = True)
    
    return pd.Series(
            {
        'Portfolio' : f'{portfolio_col}',
        'Intercept' : results.params['Intercept'].round(4) * 100,
        'Intercept (T-Value)' : results.tvalues['Intercept'].round(3),
        f'{factors[0]}' : results.params[f'{factors[0]}'].round(3),
        f'{factors[0]} T-Value' : results.tvalues[f'{factors[0]}'].round(3),
        f'{factors[1]}' : results.params[f'{factors[1]}'].round(3),
        f'{factors[1]} T-Value' : results.tvalues[f'{factors[1]}'].round(3),
        f'{factors[2]}' : results.params[f'{factors[2]}'].round(3),
        f'{factors[2]} T-Value' : results.tvalues[f'{factors[2]}'].round(3)
            },
        )

FF_Regression = column_names.apply(lambda col : regression_FF(col, factors=['MktRf', 'SMB', 'HML'])).set_index('Portfolio')

FF_Regression

,Intercept,Intercept (T-Value),MktRf,MktRf T-Value,SMB,SMB T-Value,HML,HML T-Value
Portfolio,,,,,,,,
Positive_SUE,-0.74,-0.733,0.915,3.503,-0.431,-1.846,0.155,0.817
Negative_SUE,-0.12,-0.115,1.169,4.435,0.404,1.716,0.931,4.860
LongShort_SUE,-0.63,-0.360,-0.254,-0.564,-0.836,-2.081,-0.776,-2.375