In [957]:
import pandas as pd
import numpy as np
import statsmodels.formula as smf

In [927]:
pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\phillip\appdata\local\programs\python\python39\lib\site-packages (0.14.4)
Requirement already satisfied: numpy<3,>=1.22.3 in c:\users\phillip\appdata\local\programs\python\python39\lib\site-packages (from statsmodels) (2.0.2)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in c:\users\phillip\appdata\local\programs\python\python39\lib\site-packages (from statsmodels) (1.13.1)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in c:\users\phillip\appdata\local\programs\python\python39\lib\site-packages (from statsmodels) (2.2.3)
Requirement already satisfied: packaging>=21.3 in c:\users\phillip\appdata\roaming\python\python39\site-packages (from statsmodels) (24.2)
Requirement already satisfied: patsy>=0.5.6 in c:\users\phillip\appdata\local\programs\python\python39\lib\site-packages (from statsmodels) (1.0.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\phillip\appdata\local\programs\python\python39\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\phillip\appdata\local\programs\python\python39\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\phillip\appdata\roaming\python\python39\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\phillip\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.2->pandas!=2.1.0,>=1.4->statsmodels) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.3; however, version 25.0.1 is available.
You should consider upgrading via the 'c:\Users\Phillip\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [928]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\phillip\appdata\local\programs\python\python39\lib\site-packages (3.1.5)Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.3; however, version 25.0.1 is available.
You should consider upgrading via the 'c:\Users\Phillip\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: et-xmlfile in c:\users\phillip\appdata\local\programs\python\python39\lib\site-packages (from openpyxl) (2.0.0)

In [929]:
xls = pd.ExcelFile(r'Data2.xlsx')
df_returns = pd.read_excel(xls, 'Returns', index_col=0)
df_cap = pd.read_excel(xls, 'CAP', index_col=0)
df_BM = pd.read_excel(xls, 'BM', index_col= 0)
df_rets_by_CAP = pd.read_excel(xls, 'ret by CAP')
df_ret_by_BM = pd.read_excel(xls, 'ret by BM')

#Clean Labels and Convert to Datetime
df_returns.columns = df_returns.columns.str.replace('ret_','')
df_columns = df_returns.columns
first_column = df_columns[0]
df_columns = df_columns[1:]
df_columns = pd.to_datetime(df_columns, format = '%Y%m').to_period('M')
df_columns = df_columns.insert(0, first_column)
df_columns = list(df_columns)

#Reassign labels
df_returns.columns = df_columns
df_cap.columns = df_columns
df_BM.columns = df_columns

df_rets_by_CAP.columns = df_columns[:408]
df_ret_by_BM.columns = df_columns[:408]

In [930]:
df_returns.head()

,1990-01,1990-02,1990-03,1990-04,1990-05,1990-06,1990-07,1990-08,1990-09,1990-10,...,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09,2023-10,2023-11,2023-12
ticker,,,,,,,,,,,,,,,,,,,,,
AA,-0.157667,0.046843,0.007782,-0.036293,0.064516,-0.034091,0.097255,-0.073741,-0.027184,-0.145309,...,0.004504,0.045315,-0.033868,0.159298,0.031881,-0.031873,-0.065090,-0.046487,0.193878,0.028897
AAPL,-0.035461,0.003235,0.183824,-0.021739,0.050413,0.084848,-0.061453,-0.116429,-0.216216,0.060345,...,0.118649,0.028987,0.046028,0.094330,0.012785,-0.042454,-0.088678,-0.002570,0.113720,0.013583
ABM,0.018415,0.100746,0.040678,-0.003648,0.019737,-0.045161,0.009730,-0.090909,-0.040741,-0.112432,...,-0.071679,-0.047619,0.037107,-0.034194,0.090270,-0.018583,-0.119111,-0.011247,0.041942,0.093681
ABT,-0.038971,-0.013462,0.025341,0.021597,0.121723,0.095159,0.066098,-0.080460,-0.021875,0.053291,...,-0.004522,0.095991,-0.076672,0.068823,0.025867,-0.075721,-0.058795,-0.018482,0.103014,0.055422
ACAD,0.012821,0.120253,0.024859,-0.038674,0.152299,0.109227,-0.040541,-0.065728,-0.153769,-0.089286,...,0.047662,-0.064229,0.023615,0.026180,0.036069,0.046936,-0.067721,-0.044850,0.105247,0.114682

In [931]:
df_cap.head()

,1990-01,1990-02,1990-03,1990-04,1990-05,1990-06,1990-07,1990-08,1990-09,1990-10,...,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09,2023-10,2023-11,2023-12
ticker,,,,,,,,,,,,,,,,,,,,,
AA,5389.277375,5641.728250,5685.632750,5444.15800,5795.39400,5541.5325,6041.357000,5595.86125,5401.594125,4582.190625,...,1.746843e+04,1.826001e+04,1.766819e+04,2.048270e+04,2.113570e+04,2.039193e+04,1.906462e+04,1.817837e+04,2.165773e+04,2.228358e+04
AAPL,4256.868000,4256.868000,4961.617500,4853.75625,5084.88750,5355.1430,5026.056000,4427.71600,3345.411000,3547.289250,...,2.592790e+06,2.668846e+06,2.787912e+06,3.035217e+06,3.071345e+06,2.937203e+06,2.662326e+06,2.655944e+06,2.954245e+06,2.994371e+06
ABM,130.951500,144.144375,151.696375,150.21400,153.17875,146.2610,146.755125,133.41375,128.723000,113.316000,...,2.970804e+03,2.814794e+03,2.919241e+03,2.821127e+03,3.061237e+03,3.004351e+03,2.621935e+03,2.578029e+03,2.686157e+03,2.818059e+03
ABT,14634.620000,14437.615500,14608.335000,14830.51500,16635.72750,17948.2830,19042.690500,17510.52000,16979.663125,17793.385000,...,1.759844e+05,1.919909e+05,1.773726e+05,1.895800e+05,1.935970e+05,1.785683e+05,1.680694e+05,1.640781e+05,1.810536e+05,1.910880e+05
ACAD,957.677500,1072.841250,1097.086250,1056.96300,1217.93725,1348.5390,1294.614000,1209.52200,1021.104000,930.966750,...,4.475981e+04,4.163169e+04,4.261483e+04,4.373048e+04,4.536586e+04,4.744278e+04,4.422991e+04,4.229282e+04,4.674402e+04,5.210472e+04

In [932]:
df_BM.head()

,1990-01,1990-02,1990-03,1990-04,1990-05,1990-06,1990-07,1990-08,1990-09,1990-10,...,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09,2023-10,2023-11,2023-12
ticker,,,,,,,,,,,,,,,,,,,,,
AA,0.990784,0.946449,0.939141,0.980796,0.921354,1.092299,1.001929,1.081694,1.120597,1.320986,...,0.199560,0.190909,0.197304,0.174147,0.168767,0.174922,0.187101,0.196222,0.164699,0.160073
AAPL,0.294816,0.294816,0.252940,0.258561,0.246808,0.345211,0.367814,0.417519,0.552595,0.521146,...,0.024333,0.023639,0.022630,0.016695,0.016498,0.017252,0.019033,0.019079,0.017152,0.016922
ABM,0.472832,0.429555,0.408171,0.412199,0.404221,0.474419,0.472822,0.520104,0.539057,0.612350,...,0.549245,0.579687,0.558947,0.640489,0.590252,0.601428,0.689147,0.700884,0.672671,0.641186
ABT,0.195649,0.198319,0.196001,0.193065,0.172115,0.176350,0.166215,0.180759,0.186411,0.177886,...,0.211348,0.193728,0.209694,0.198739,0.194616,0.210995,0.224175,0.229628,0.208099,0.197171
ACAD,0.121453,0.108416,0.106020,0.110045,0.095500,0.111815,0.116473,0.124667,0.147671,0.161968,...,0.021825,0.023465,0.022924,0.020089,0.019365,0.018517,0.019862,0.020772,0.018794,0.016860

# Question 1: Size Effect

Portfolio Requirements:

Small/large constitutes top (or bottom) 30 stocks ~ 10%
    2. 10 stocks will be selected for each portfolio - randomly sampled from top 50
    2. Held for 1 month
    3. Rebalanced every month
    4. Equally weighted

In [ ]:

def portfolio_returns(top_K, df_by, N = 10, K= 30, returns_df = df_returns, seed = 406): 
    '''  
    Function will order all the firms by e.g., size/value for each time period
        - Will then select the top 30 in that month
        - Sample (psuedo-) randomly to get 10 stocks
        - Compile into 1 portfolio, take average returns for that month
        - Repeat 
    '''

    def largest_values(df_by, returns_df, seed, N, K ):

        portfolio_factor_values = {}
        tickers = {}        
        np.random.seed(seed)

        for i in range(0, len(returns_df.columns)):
            #Samples from K stocks to get N stocks per period
            portfolio_factor_values[i] = df_by.iloc[:,i].nlargest(K).sample(N)

            #Collects names of stocks in our portfolio
            tickers[i] = list(portfolio_factor_values[i].index)

        #DataFrame contains portfolio to be held
        tickers = pd.DataFrame(tickers)
        tickers.columns = returns_df.columns

        #DataFrame contains value of factors in question e.g., market caps of top 10 largest
        portfolio_factor_values = pd.DataFrame(portfolio_factor_values)
        portfolio_factor_values.columns = returns_df.columns

        return tickers, portfolio_factor_values

    def lowest_values(df_by, returns_df, seed, N, K ):
        portfolio_factor_values = {}
        tickers = {}        
        np.random.seed(seed)
        for i in range(0, len(returns_df.columns)):
            portfolio_factor_values[i] = df_by.iloc[:,i].nsmallest(K).sample(N)
            tickers[i] = list(portfolio_factor_values[i].index)
        tickers = pd.DataFrame(tickers)
        tickers.columns = returns_df.columns
        portfolio_factor_values = pd.DataFrame(portfolio_factor_values)
        portfolio_factor_values.columns = returns_df.columns
        return tickers, portfolio_factor_values

    #Calculate Average Returns of Portfolios
    if top_K == True:
        tickers, portfolio_factor_values = largest_values(df_by, returns_df, seed, N, K)

    if top_K == False:
        tickers, portfolio_factor_values = lowest_values(df_by, returns_df, seed, N, K)

    #Apply Boolean mask then take arithmetic mean
    portfolio_factor_values_mask = ~portfolio_factor_values.isna()
    returns_per_individual_stock = returns_df[portfolio_factor_values_mask]
    portfolio_returns = pd.Series(returns_per_individual_stock.mean(axis='rows'))

    return tickers, returns_per_individual_stock, portfolio_returns

In [954]:
#Creating Portfolios for Large, Small Size Effect
tickers_large, returns_large_per_stock, returns_large = portfolio_returns(top_K= True, df_by = df_cap,
                                                                          returns_df = df_returns)

tickers_small, returns_small_per_stock, returns_small = portfolio_returns(top_K = False, df_by = df_cap,
                                                                          returns_df = df_returns)

#Creating Portfolios for Value Effect
tickers_value, returns_value_per_stock, returns_value = portfolio_returns(top_K = True, df_by= df_BM)
tickers_growth, returns_growth_per_stock, returns_growth = portfolio_returns(top_K = False, df_by= df_BM)

In [ ]:
''' 
Calculate annualised returns (as if they were an actual strategy) to factor in volatility drag

'''
def annualised_returns(r, periods):
    compounded_growth = (1 + r).prod()
    n = r.shape[0]
    return compounded_growth ** (periods / n) - 1

q1_small_returns = annualised_returns(returns_small, 12)
q1_large_returns = annualised_returns(returns_large, 12)
q1_smb_returns = annualised_returns(returns_small - returns_large, 12)

q1_value_returns = annualised_returns(returns_value, 12)
q1_growth_returns = annualised_returns(returns_growth, 12)
q1_value_effect_returns = annualised_returns(returns_value - returns_growth, 12)

# Question 1 : Average returns of each strategy

Smaller stocks don't seem to perform as well as larger stocks when sampled randomly in each period. Potentially either rebalancing is too frequent (small firms can list and go under quickly), survivorship bias is not accounted for, size effect has been arb-ed out post 1990s, favourable macro for larger companies e.g., from 90s-2024 there has been COVID, dotcom, GFC, trade-wars, interest rates, tech trends that favour large companies (e.g., MAG7 outperformance)

In [938]:
Q1_Size_Effect = {'Small (Annualised)' : q1_small_returns.mean(), 'Small (Arithmetic)' : returns_small.mean(),
      'Large (Annualised)' : q1_large_returns.mean(), 'Large (Arithmetic)' : returns_large.mean(),
      'SMB (Annualised)' : q1_smb_returns.mean(), 'SMB (Arithmetic)' : (returns_small - returns_large).mean()}

pd.DataFrame(Q1_Size_Effect, index=['% Returns']).round(4) * 100

,Small (Annualised),Small (Arithmetic),Large (Annualised),Large (Arithmetic),SMB (Annualised),SMB (Arithmetic)
% Returns,1.89,0.47,14.19,1.2,-11.39,-0.73

Value stocks seem to return negative returns whereas growth stocks exhibit higher returns across period of 1990-2024.

In [939]:
Q1_Value_Effect = {'Value (Annualised)' : q1_value_returns.mean(), 'Small (Arithmetic)' : returns_value.mean(),
      'Growth (Annualised)' : q1_growth_returns.mean(), 'Large (Arithmetic)' : returns_growth.mean(),
      'Long Val/Short Gth (Annualised)' : q1_value_effect_returns.mean(), 'Long Val/Short Gth (Arithmetic)' : (returns_value - returns_growth).mean()}

pd.DataFrame(Q1_Value_Effect, index=['% Returns']).round(4) * 100

,Value (Annualised),Small (Arithmetic),Growth (Annualised),Large (Arithmetic),Long Val/Short Gth (Annualised),Long Val/Short Gth (Arithmetic)
% Returns,-12.18,-0.72,37.55,2.92,-38.35,-3.63

# Regression

In [940]:
''' 
Regressing on CAPM 

'''
import statsmodels.formula.api as smf


#Fama French Datasets Monthly Returns are rows 5-1186, 
df_FF = pd.read_csv('F-F_Research_Data_Factors.CSV', header = 2, index_col = 0, nrows = 1181) / 100
df_FF.index = pd.to_datetime(df_FF.index, format ='%Y%m').to_period('M')

#Consider only 1990-2024 Time Period
df_FF2 = df_FF.loc['1990-01':'2023-12']
df_FF2.index = df_portfolio.index
df_FF2 = df_FF2.rename({'Mkt-RF' : 'Market_Risk'}, axis = 'columns')

In [941]:
#Portfolio Returns into DF
df_portfolio = pd.concat([returns_growth, returns_value, returns_value - returns_growth, 
                          returns_small, returns_large, returns_small - returns_large]
                          ,axis = 'columns')
df_portfolio.index = pd.date_range(start='1990-01', periods=408, freq ='ME').to_period('M')
df_portfolio.columns = ['Growth', 'Value', 'LS_Value_Growth', 'Small', 'Big', 'LS_Small_Big']

#Portfolio of Returns into Excess Returns
df_portfolio_excess = df_portfolio.apply(lambda col : col - df_FF2['RF'])
df_portfolio_excess

           Growth     Value  LS_Value_Growth     Small       Big  LS_Small_Big
1990-01  0.091199 -0.094333        -0.191232 -0.148192 -0.081063     -0.072829
1990-02  0.089485 -0.045758        -0.140943  0.077609  0.003436      0.068473
1990-03  0.091087 -0.022977        -0.120464  0.088557  0.033865      0.048292
1990-04 -0.016034 -0.076127        -0.066993  0.085666 -0.019064      0.097831
1990-05  0.171908  0.006038        -0.172670  0.002146  0.142135     -0.146790
...           ...       ...              ...       ...       ...           ...
2023-08 -0.026937  0.074101         0.096538 -0.059260 -0.019407     -0.044353
2023-09 -0.073140 -0.062455         0.006384 -0.050552 -0.051321     -0.003532
2023-10 -0.011088 -0.079943        -0.073555 -0.142510 -0.038821     -0.108388
2023-11  0.081653 -0.013489        -0.099542  0.087791  0.067206      0.016184
2023-12  0.033514  0.082209         0.044395  0.053644  0.048055      0.001289

[408 rows x 6 columns]

In [942]:

def regression_CAPM(portfolio_col, factors, df = df_portfolio_excess, factor_df = df_FF2
    ,timeframe = pd.period_range(pd.Period('1990-01', freq='M'),
                                pd.Period('2023-12', freq='M'))
                                ):
    
    ''' 
    Regresses columns in portfolio_col against the factors passed 
    
    '''
    #Slice portfolio and factor values for desired time frame
    returns = df[f'{portfolio_col}'].loc[timeframe]
    factor_values = factor_df[f'{factors}'].loc[timeframe]
    regression_df = pd.concat([returns, factor_values], axis='columns')
    #Create Regression Model

    model = smf.ols(f'{portfolio_col} ~ {factors}', data = regression_df)
    results = model.fit(use_T = True)
    
    return pd.Series(
            {
        'Portfolio' : f'{portfolio_col}',
        'Intercept' : results.params['Intercept'].round(3),
        'Intercept (T-Value)' : results.tvalues['Intercept'].round(3),
        'Market Risk' : results.params[f'{factors}'].round(3),
         'Market Risk (T-Value)' : results.tvalues[f'{factors}'].round(3)
            },
        )

In [943]:

def regression_FF(portfolio_col, factors, df = df_portfolio_excess, factor_df = df_FF2
    ,timeframe = pd.period_range(pd.Period('1990-01', freq='M'),
                                pd.Period('2023-12', freq='M'))
                                ):
    
    ''' 
    Regresses columns in portfolio_col against the factors passed 
    
    '''
    #Slice portfolio and factor values for desired time frame
    returns = df[f'{portfolio_col}'].loc[timeframe]
    factor_values = factor_df[factors].loc[timeframe]
    regression_df = pd.concat([returns, factor_values], axis='columns')

    #Create Regression Model
    model = smf.ols(f'{portfolio_col} ~ {factors[0]} + {factors[1]} + {factors[2]}', data = regression_df)
    results = model.fit(use_T = True)
    
    return pd.Series(
            {
        'Portfolio' : f'{portfolio_col}',
        'Intercept' : results.params['Intercept'].round(3),
        'Intercept (T-Value)' : results.tvalues['Intercept'].round(3),
        f'{factors[0]}' : results.params[f'{factors[0]}'].round(3),
        f'{factors[0]} T-Value' : results.tvalues[f'{factors[0]}'].round(3),
        f'{factors[1]}' : results.params[f'{factors[1]}'].round(3),
        f'{factors[1]} T-Value' : results.tvalues[f'{factors[1]}'].round(3),
        f'{factors[2]}' : results.params[f'{factors[2]}'].round(3),
        f'{factors[2]} T-Value' : results.tvalues[f'{factors[2]}'].round(3)
            },
        )

regression_FF(portfolio_col = 'Growth', factors=['Market_Risk', 'SMB', 'HML'])

Portfolio              Growth
Intercept                0.02
Intercept (T-Value)     8.193
Market_Risk             0.932
Market_Risk T-Value    16.814
SMB                     0.542
SMB T-Value             6.829
HML                     0.121
HML T-Value             1.622
dtype: object

In [944]:
''' 
Apply regression to each column
    - Function needs to take pd.Series object of column names
    - Lambda + Apply => pass through arguements as below
    - Output DF index name : column 'Portfolio' can be set as index using .set_index()

'''
portfolio_columns = pd.Series(df_portfolio_excess.columns)

results_df = portfolio_columns.apply(lambda col : 
                    regression_CAPM(portfolio_col = col, factors = 'Market_Risk'))


results_df2 = pd.DataFrame(results_df).set_index('Portfolio')

results_df3 = portfolio_columns.apply(
    lambda col : regression_FF(col, factors=['Market_Risk', 'SMB', 'HML'],
                               df = df_portfolio_excess, factor_df = df_FF2)
).set_index('Portfolio')

In [945]:
results_df2

,Intercept,Intercept (T-Value),Market Risk,Market Risk (T-Value)
Portfolio,,,,
Growth,0.020,7.819,1.016,17.984
Value,-0.018,-5.390,1.176,16.268
LS_Value_Growth,-0.040,-10.166,0.163,1.879
Small,-0.004,-1.187,0.931,12.397
Big,0.004,3.704,0.788,30.343
LS_Small_Big,-0.010,-2.864,0.145,1.782

In [946]:
results_df3

,Intercept,Intercept (T-Value),Market_Risk,Market_Risk T-Value,SMB,SMB T-Value,HML,HML T-Value
Portfolio,,,,,,,,
Growth,0.020,8.193,0.932,16.814,0.542,6.829,0.121,1.622
Value,-0.019,-7.303,1.129,18.535,0.757,8.675,1.053,12.857
LS_Value_Growth,-0.041,-11.466,0.199,2.405,0.219,1.853,0.933,8.388
Small,-0.005,-1.592,0.825,11.783,0.867,8.647,0.560,5.946
Big,0.004,3.821,0.845,34.497,-0.289,-8.249,0.080,2.428
LS_Small_Big,-0.011,-3.470,-0.018,-0.247,1.161,11.063,0.480,4.875

# Varying Time Frames

In [947]:
''' 
Evaluating 3 time periods
    - 1990 to post dotcom
    - Run up to years prior to GFC
    - post-GFC to now
'''
CAPM_Regression_1990_2002 = portfolio_columns.apply(lambda col : 
                    regression_CAPM(portfolio_col = col, factors = 'Market_Risk',
                                    timeframe = pd.period_range(pd.Period('1990-1', freq = 'M')
                                                                , pd.Period('2001-12', freq = 'M'
                                                                           )))).set_index('Portfolio')

CAPM_Regression_2000_2008 = portfolio_columns.apply(lambda col : 
                    regression_CAPM(portfolio_col = col, factors = 'Market_Risk',
                                    timeframe = pd.period_range(pd.Period('2000-1', freq = 'M')
                                                                , pd.Period('2007-10', freq = 'M'
                                                                           )))).set_index('Portfolio')

CAPM_Regression_2008_2023 = portfolio_columns.apply(lambda col : 
                    regression_CAPM(portfolio_col = col, factors = 'Market_Risk',
                                    timeframe = pd.period_range(pd.Period('2007-11', freq = 'M')
                                                                , pd.Period('2023-12', freq = 'M'
                                                                           )))).set_index('Portfolio')
FF_Regression_1990_2002 = portfolio_columns.apply(lambda col : 
                    regression_FF(portfolio_col = col, factors = ['Market_Risk', 'SMB', 'HML'],
                                    timeframe = pd.period_range(pd.Period('1990-1', freq = 'M')
                                                                , pd.Period('2001-12', freq = 'M'
                                                                           )))).set_index('Portfolio')

FF_Regression_2000_2008 = portfolio_columns.apply(lambda col : 
                    regression_FF(portfolio_col = col, factors = ['Market_Risk', 'SMB', 'HML'],
                                    timeframe = pd.period_range(pd.Period('2000-1', freq = 'M')
                                                                , pd.Period('2007-10', freq = 'M'
                                                                           )))).set_index('Portfolio')

FF_Regression_2008_2023 = portfolio_columns.apply(lambda col : 
                    regression_FF(portfolio_col = col, factors = ['Market_Risk', 'SMB', 'HML'],
                                    timeframe = pd.period_range(pd.Period('2007-11', freq = 'M')
                                                                , pd.Period('2023-12', freq = 'M'
                                                                           )))).set_index('Portfolio')

In [948]:
CAPM_Regression_1990_2002

,Intercept,Intercept (T-Value),Market Risk,Market Risk (T-Value)
Portfolio,,,,
Growth,0.032,5.907,0.937,7.535
Value,-0.015,-2.969,0.627,5.514
LS_Value_Growth,-0.051,-7.331,-0.309,-1.946
Small,0.005,0.699,0.629,4.307
Big,0.007,2.984,0.784,15.858
LS_Small_Big,-0.006,-0.867,-0.154,-0.977

In [949]:
CAPM_Regression_2000_2008

,Intercept,Intercept (T-Value),Market Risk,Market Risk (T-Value)
Portfolio,,,,
Growth,0.025,5.428,0.986,9.048
Value,-0.013,-2.286,1.009,7.497
LS_Value_Growth,-0.040,-5.314,0.027,0.151
Small,0.008,1.292,0.786,5.572
Big,0.004,1.593,0.632,9.647
LS_Small_Big,0.001,0.089,0.159,1.015

In [950]:
CAPM_Regression_2008_2023

,Intercept,Intercept (T-Value),Market Risk,Market Risk (T-Value)
Portfolio,,,,
Growth,0.011,3.819,1.064,17.776
Value,-0.020,-3.894,1.475,14.161
LS_Value_Growth,-0.032,-5.708,0.413,3.632
Small,-0.012,-2.674,1.095,11.456
Big,0.003,2.201,0.789,25.047
LS_Small_Big,-0.017,-3.276,0.308,2.966

In [951]:
FF_Regression_1990_2002

,Intercept,Intercept (T-Value),Market_Risk,Market_Risk T-Value,SMB,SMB T-Value,HML,HML T-Value
Portfolio,,,,,,,,
Growth,0.033,6.218,0.851,6.277,0.617,4.229,0.037,0.193
Value,-0.021,-4.720,0.924,8.106,0.745,6.069,1.013,6.376
LS_Value_Growth,-0.058,-8.479,0.077,0.439,0.135,0.714,0.984,4.031
Small,0.001,0.132,0.751,4.987,1.047,6.462,0.709,3.381
Big,0.006,2.915,0.847,16.115,-0.253,-4.468,0.050,0.689
LS_Small_Big,-0.009,-1.553,-0.093,-0.605,1.306,7.931,0.666,3.124

In [952]:
FF_Regression_2000_2008

,Intercept,Intercept (T-Value),Market_Risk,Market_Risk T-Value,SMB,SMB T-Value,HML,HML T-Value
Portfolio,,,,,,,,
Growth,0.023,5.103,0.889,7.909,0.405,3.502,-0.013,-0.084
Value,-0.024,-4.708,1.245,9.855,0.582,4.476,0.998,5.913
LS_Value_Growth,-0.049,-6.649,0.359,1.936,0.179,0.939,1.007,4.062
Small,0.001,0.164,0.830,5.685,0.582,3.877,0.480,2.463
Big,0.006,2.333,0.708,11.438,-0.336,-5.282,-0.001,-0.011
LS_Small_Big,-0.007,-1.264,0.125,0.846,0.921,6.077,0.478,2.427

In [953]:
FF_Regression_2008_2023

,Intercept,Intercept (T-Value),Market_Risk,Market_Risk T-Value,SMB,SMB T-Value,HML,HML T-Value
Portfolio,,,,,,,,
Growth,0.012,4.127,0.982,15.665,0.347,2.949,0.149,1.790
Value,-0.017,-4.019,1.215,12.917,0.774,4.387,0.965,7.750
LS_Value_Growth,-0.030,-5.776,0.234,2.066,0.430,2.026,0.818,5.462
Small,-0.011,-2.500,0.903,9.453,0.733,4.090,0.484,3.827
Big,0.003,2.434,0.824,26.636,-0.303,-5.224,0.160,3.912
LS_Small_Big,-0.015,-3.204,0.080,0.777,1.039,5.370,0.325,2.380